.Tabs {
  align-self: stretch;
  display: flex;
  gap: 24px;
  margin-left: 8px;
}
.Tab {
  align-items: center;
  display: flex;
  padding: 0 3px;
}
.Tab[data-is-active='true'] {
  border-bottom: 2px solid #fff;
}
.Tab:not([data-is-active='true']) {
  color: #a1a1aa;
}
.Toolbar {
  align-items: center;
  border-bottom: 1px solid #414144;
  display: flex;
  gap: 20px;
  height: 43px;
  padding: 0 20px;
}
