.Title {
  align-items: center;
  border-right: 1px solid #414144;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 15px;
}
.TitleWrapper {
  border-bottom: 1px solid #414144;
  display: flex;
  height: 45px;
}
.Table {
  flex-grow: 1;
}
