.IconWrapper {
  border-radius: 6px;
  display: inline-flex;
  gap: 6px;
  padding: 2px 7px 2px 2px;
}
.IconWrapper img {
  cursor: pointer;
}
.IconWrapper img:last-child {
  display: none;
}
.IconWrapper:hover {
  background: #414144;
}
.IconWrapper:hover img:last-child {
  display: block;
}
.IconWrapper[data-level="2"] {
  margin-left: 20px;
}
.IconWrapper[data-level="3"] {
  margin-left: 40px;
}
.Input {
  background: none;
  border: 1px solid #414144;
  border-radius: 6px;
  color: #71717a;
  padding: 10px;
  width: 100%;
}
.Input:disabled {
  border-color: transparent;
  color: #fff;
  padding-left: 0;
}
.TableWrapper {
  padding: 0 10px;
}
.Table {
  width: 100%;
}
.Table th {
  color: #a1a1aa;
  font-weight: 400;
  padding: 10px 12px;
}
.Table th:nth-child(1) {
  width: 110px;
}
.Table th:nth-child(3),
.Table th:nth-child(4),
.Table th:nth-child(5),
.Table th:nth-child(6) {
  width: 200px;
}
.Table tbody tr {
  border-top: 1px solid #414144;
}
.Table td {
  padding: 8px 12px;
}
.Table tr td:first-child {
  padding: 16px 0 11px 9px;
}
